mixin picture(path, alt='', style='cover')
  picture.w-100(id!=attributes.id)&attributes(attributes)
    source.w-100(srcset=`${path}.webp` type="image/webp")
    source.w-100(srcset=`${path}.jpg` type="image/jpeg")
    img.w-100(srcset=`${path}.jpg`)

mixin picture-card(path, alt='', style='cover')
  picture(id!=attributes.id)&attributes(attributes)
    source.image-cover(srcset=`${path}.webp` type="image/webp")
    source.image-cover(srcset=`${path}.jpg` type="image/jpeg")
    img.image-cover(srcset=`${path}.jpg`)

mixin gradient-btn()
  .text-center
    .main-button
      span.main-button__text Заказать 
        span.no-wrap тест-драйв

mixin control-btn(idPrev, idNext)
  .slide__wrap_pagination(class!=attributes.class)
    .slide__pagination.slide__pagination_prev(id= idPrev)
    .slide__pagination.slide__pagination_next(id= idNext)

mixin card(item)
  .card
    .card__image-wrap
      +picture-card(item.src, item.title)(class!=attributes.class)
    .card__content
      h3.card__title= item.title
      p.card__text= item.text1
      p.card__text= item.text2
        a.card__link(href="/") Terms and Conditions
